- name: Create sparse file
  command:
    cmd: "truncate -s {{ loopdev_size }}MB {{ loopdev_path }}"
    creates: "{{ loopdev_path }}"
- name: Ensure loop device exists
  loopdev:
    path: "{{ loopdev_path }}"
    fstype: "{{ loopdev_fstype }}"
  register: loopdev
- name: Ensure mount point exists
  file:
    path: "{{ loopdev_mountpoint }}"
    state: directory  # TODO: owner/permissions??
  when: loopdev_mountpoint is defined
- name: Mount
  mount:
    path: "{{ loopdev_mountpoint }}"
    src: "{{ loopdev.dev }}"
    state: "{{ loopdev_mountstate }}"
    fstype: "{{ loopdev_fstype }}"
  when: loopdev_mountpoint is defined
